In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("AQI_data.csv")
df.head()

,AQSID,SiteName,Status,EPARegion,Latitude,Longitude,Elevation,GMTOffset,CountryCode,StateName,...,OZONE,OZONE_Unit,NO2,NO2_Unit,CO,CO_Unit,SO2,SO2_Unit,PM10,PM10_Unit
0,250250002,BOSTON-KENMORE,Active,R1,42.348900,-71.097702,0.0,-5.0,US,MA,...,8.0,UG/M3,0.0,PPB,NaN,NaN,6.0,PPB,NaN,NaN
1,250250044,Boston-Von Hillern,Active,R1,42.325197,-71.056056,4.0,-5.0,US,MA,...,7.0,UG/M3,NaN,NaN,NaN,NaN,7.0,PPB,NaN,NaN
2,250250042,Boston - Roxbury,Active,R1,42.329399,-71.082497,0.0,-5.0,US,MA,...,7.0,UG/M3,0.0,PPB,42.0,PPB,4.0,PPB,NaN,NaN
3,250250043,Boston - North End,Inactive,R1,42.363100,-71.054200,0.0,-5.0,US,MA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,250250041,Boston - Long Island,Inactive,R1,42.317200,-70.966700,0.0,-5.0,US,MA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# drop rows with value "Sitename" == "Chelsea HP"
df = df[df['SiteName'] != 'Chelsea HP']
df = df[df['Status'] != 'Inactive']

# drop column PM10_AQI, PM10, PM10_Unit (all null values)
df = df.drop(['PM10_AQI', 'PM10', 'PM10_Unit', 'PM10_Measured'], axis=1)

# drop colums that is not useful for analysis
df = df.drop(["StateName", "CountryCode", "DataSource", "ReportingArea_PipeDelimited", "ValidTime", "GMTOffset", "Elevation", "Longitude", "Latitude", "EPARegion", "AQSID", "Status"], axis=1)


df.head()

,SiteName,ValidDate,OZONE_AQI,PM25_AQI,NO2_AQI,OZONE_Measured,PM25_Measured,NO2_Measured,PM25,PM25_Unit,OZONE,OZONE_Unit,NO2,NO2_Unit,CO,CO_Unit,SO2,SO2_Unit
0,BOSTON-KENMORE,04/01/21,NaN,34.0,6.0,0,1,1,NaN,NaN,8.0,UG/M3,0.0,PPB,NaN,NaN,6.0,PPB
1,Boston-Von Hillern,04/01/21,NaN,28.0,7.0,0,1,1,NaN,NaN,7.0,UG/M3,NaN,NaN,NaN,NaN,7.0,PPB
2,Boston - Roxbury,04/01/21,38.0,23.0,4.0,1,1,1,0.21,PPM,7.0,UG/M3,0.0,PPB,42.0,PPB,4.0,PPB
5,BOSTON-KENMORE,04/02/21,NaN,12.0,4.0,0,1,1,NaN,NaN,3.0,UG/M3,0.0,PPB,NaN,NaN,4.0,PPB
6,Boston-Von Hillern,04/02/21,NaN,28.0,9.0,0,1,1,0.04,PPM,7.0,UG/M3,NaN,NaN,NaN,NaN,10.0,PPB

In [4]:
features_interested = ['SiteName', 'ValidDate','OZONE_AQI','PM25_AQI', 'NO2_AQI']
data = df[features_interested]

# # fill null value with mean value
data['OZONE_AQI'].fillna(data['OZONE_AQI'].mean(), inplace=True)
data['PM25_AQI'].fillna(data['PM25_AQI'].mean(), inplace=True)
data['NO2_AQI'].fillna(data['NO2_AQI'].mean(), inplace=True)

data.head()

/var/folders/37/5r4fjllx115gd2m3kmqy_02m0000gn/T/ipykernel_73368/4278286263.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['OZONE_AQI'].fillna(data['OZONE_AQI'].mean(), inplace=True)
/var/folders/37/5r4fjllx115gd2m3kmqy_02m0000gn/T/ipykernel_73368/4278286263.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['PM25_AQI'].fillna(data['PM25_AQI'].mean(), inplace=True)
/var/folders/37/5r4fjllx115gd2m3kmqy_02m0000gn/T/ipykernel_73368/4278286263.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['NO2_AQI'].fillna(data['NO2_AQI'].mean(), inplace=True)

             SiteName ValidDate  OZONE_AQI  PM25_AQI  NO2_AQI
0      BOSTON-KENMORE  04/01/21  25.058496      34.0      6.0
1  Boston-Von Hillern  04/01/21  25.058496      28.0      7.0
2    Boston - Roxbury  04/01/21  38.000000      23.0      4.0
5      BOSTON-KENMORE  04/02/21  25.058496      12.0      4.0
6  Boston-Von Hillern  04/02/21  25.058496      28.0      9.0

In [5]:
# Sort the DataFrame by the 'ValidDate' column in ascending order
data['ValidDate'] = pd.to_datetime(data['ValidDate'], format='%m/%d/%y')
data.sort_values(by='ValidDate', ascending=True, inplace=True)

# If you want to reset the index after sorting
data.reset_index(drop=True, inplace=True)

data.head()

ValueError: unconverted data remains when parsing with format "%m/%d/%y": "21", at position 61. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
data['ValidDate'].value_counts()

ValidDate
04/01/21    3
10/09/21    3
10/07/21    3
10/06/21    3
10/05/21    3
           ..
02/28/21    3
02/27/21    3
02/26/21    3
07/31/21    3
04/09/21    1
Name: count, Length: 365, dtype: int64