### This script aggregates yearly airnow data for sites relevant to extension question

In [2]:
import pandas as pd

In [20]:
airnow2020 = pd.read_csv('../data/airnow/airnow2020.csv')
airnow2021 = pd.read_csv('../data/airnow/airnow2021.csv')
airnow2022 = pd.read_csv('../data/airnow/airnow2022.csv')
airnow2023 = pd.read_csv('../data/airnow/airnow2023.csv')

airnow2020 = airnow2020[airnow2020['Status']!='Inactive']
airnow2021 = airnow2021[airnow2021['Status']!='Inactive']
airnow2022 = airnow2022[airnow2022['Status']!='Inactive']
airnow2023 = airnow2023[airnow2023['Status']!='Inactive']

/var/folders/dr/5fwr6gys3_q2mlm3nwj706880000gn/T/ipykernel_48825/537523914.py:4: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  airnow2021 = pd.read_csv('../data/airnow/airnow2021.csv')
/var/folders/dr/5fwr6gys3_q2mlm3nwj706880000gn/T/ipykernel_48825/537523914.py:5: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  airnow2022 = pd.read_csv('../data/airnow/airnow2022.csv')
/var/folders/dr/5fwr6gys3_q2mlm3nwj706880000gn/T/ipykernel_48825/537523914.py:6: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  airnow2023 = pd.read_csv('../data/airnow/airnow2023.csv')

In [21]:
airnow2020_clean = airnow2020[['SiteName', 'Status', 'Latitude', 'Longitude',
       'PM10_AQI', 'PM25_AQI', 'NO2_AQI']]

airnow2021_clean = airnow2021[['SiteName', 'Status', 'Latitude', 'Longitude',
       'PM10_AQI', 'PM25_AQI', 'NO2_AQI']]

airnow2022_clean = airnow2022[['SiteName', 'Status', 'Latitude', 'Longitude',
       'PM10_AQI', 'PM25_AQI', 'NO2_AQI']]

airnow2023_clean = airnow2023[['SiteName', 'Status', 'Latitude', 'Longitude',
       'PM10_AQI', 'PM25_AQI', 'NO2_AQI']]

In [23]:
airnow2020_agg = airnow2020_clean.groupby('SiteName').agg({
    'Latitude': 'first',  
    'Longitude': 'first',  
    'PM10_AQI': 'mean',
    'PM25_AQI': 'mean',
    'NO2_AQI': 'mean',
})

airnow2021_agg = airnow2021_clean.groupby('SiteName').agg({
    'Latitude': 'first',  
    'Longitude': 'first',   
    'PM10_AQI': 'mean',
    'PM25_AQI': 'mean',
    'NO2_AQI': 'mean',
})

airnow2022_agg = airnow2022_clean.groupby('SiteName').agg({
    'Latitude': 'first',  
    'Longitude': 'first',    
    'PM10_AQI': 'mean',
    'PM25_AQI': 'mean',
    'NO2_AQI': 'mean',
})

airnow2023_agg = airnow2023_clean.groupby('SiteName').agg({
    'Latitude': 'first',  
    'Longitude': 'first',  
    'PM10_AQI': 'mean',
    'PM25_AQI': 'mean',
    'NO2_AQI': 'mean',
})

airnow2020_agg['Year'] = 2020
airnow2021_agg['Year'] = 2021
airnow2022_agg['Year'] = 2022
airnow2023_agg['Year'] = 2023

airnow2020_agg

                     Latitude  Longitude  PM10_AQI   PM25_AQI    NO2_AQI  Year
SiteName
BOSTON-KENMORE      42.348900 -71.097702       NaN  28.983500   9.816883  2020
Boston - Roxbury    42.329399 -71.082497       NaN  23.850894   8.920702  2020
Boston-Von Hillern  42.325197 -71.056056       NaN  34.034944  12.087486  2020

In [43]:
airnow_yearly = pd.concat([airnow2020_agg, airnow2021_agg, airnow2022_agg, airnow2023_agg])
airnow_yearly = airnow_yearly.reset_index()
airnow_yearly = airnow_yearly[(airnow_yearly['SiteName']=="BOSTON-KENMORE") | (airnow_yearly['SiteName']=="Boston - Roxbury")].drop(columns=["PM10_AQI"])
airnow_yearly

            SiteName   Latitude  Longitude   PM25_AQI    NO2_AQI  Year
0     BOSTON-KENMORE  42.348900 -71.097702  28.983500   9.816883  2020
1   Boston - Roxbury  42.329399 -71.082497  23.850894   8.920702  2020
3     BOSTON-KENMORE  42.348900 -71.097702  28.235131   9.604732  2021
4   Boston - Roxbury  42.329399 -71.082497  20.880625   9.058315  2021
6     BOSTON-KENMORE  42.348900 -71.097702  27.728759  10.868349  2022
7   Boston - Roxbury  42.329399 -71.082497  26.818601   9.355003  2022
10    BOSTON-KENMORE  42.348900 -71.097702  30.513816  10.236385  2023
11  Boston - Roxbury  42.329399 -71.082497  30.303399   7.911222  2023

In [45]:
airnow_yearly.to_csv('../data/airnow_cleaned.csv', index=False)

In [4]:
boston_dem = pd.read_csv('../data/csv_files/Climate_Ready_Boston_Social_Vulnerability.csv')

boston_dem

,FID,GEOID10,AREA_SQFT,AREA_ACRES,POP100_RE,HU100_RE,TotDis,TotChild,OlderAdult,Low_to_No,LEP,POC2,MedIllnes,Name,Shape__Area,Shape__Length
0,1,25025010405,3914567.54,89.8661,5522,994,470,60,331,1191,1522,1755,2131.22,Mission Hill,6.661000e+05,6036.192907
1,2,25025010404,1472713.92,33.8089,5817,1862,299,77,56,2387,2443,1749,2201.14,Fenway,2.506124e+05,2176.592171
2,3,25025010801,1376667.12,31.6039,2783,1899,84,281,390,72,462,447,1214.76,Back Bay,2.343579e+05,2542.043078
3,4,25025010702,3228780.12,74.1226,2400,1643,45,86,285,187,472,320,1014.20,Back Bay,5.496140e+05,3224.573044
4,5,25025010204,2741497.18,62.9361,3173,1283,131,13,36,895,931,1039,1181.78,Fenway,4.665852e+05,3143.610637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,176,25025081800,4024571.84,92.3915,2898,1388,329,891,286,1263,1549,2820,1054.40,Roxbury,6.843967e+05,4191.466959
176,177,25025081700,6819156.25,156.5463,3820,1599,715,1250,420,1552,1972,3746,1404.47,Roxbury,1.159715e+06,4789.149284
177,178,25025081500,3619583.13,83.0942,2134,905,340,430,197,809,1006,1957,804.02,Roxbury,6.155343e+05,4824.790469
178,179,25025081400,6678367.07,153.3142,3003,1462,268,314,283,791,1074,2318,1185.22,Jamaica Plain,1.135953e+06,6170.176383
179,180,25025081300,6246271.61,143.3947,4760,2111,1146,1355,793,3109,3902,4461,1792.61,Jamaica Plain,1.062174e+06,5552.336647

In [14]:
boston_dem_cleaned = boston_dem[['HU100_RE', 'TotDis', 'LEP', 'POC2', 'MedIllnes', 'Name']]

boston_dem_cleaned = boston_dem_cleaned.groupby('Name').mean().reset_index()

boston_dem_cleaned = boston_dem_cleaned[(boston_dem_cleaned['Name'] == 'Roxbury') | (boston_dem_cleaned['Name'] == 'Fenway')]

boston_dem_cleaned

       Name     HU100_RE      TotDis          LEP         POC2    MedIllnes
7    Fenway  1540.500000  206.666667  1196.166667  1634.666667  1680.123333
17  Roxbury  1429.869565  548.304348  1736.826087  2922.478261  1227.613043

In [15]:
boston_dem_cleaned.to_csv('../data/boston_dem_for_extension.csv')