In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('LEP-clean.csv')

In [9]:
df.head(15)

    Year      Zip  Tot_Households  LEP_Households
0   2021  '02118'           13847            2271
1   2021  '02119'           11953            2178
2   2021  '02121'           10718            2061
3   2021  '02125'           12986            1837
4   2021  '02215'            7931             894
5   2020  '02118'           13672            2342
6   2020  '02119'           11738            1986
7   2020  '02121'           10740            1920
8   2020  '02125'           13063            1977
9   2020  '02215'            8055             885
10  2019  '02118'           13193            1693
11  2019  '02119'           11570            2095
12  2019  '02121'           10666            1750
13  2019  '02125'           12705            2138
14  2019  '02215'            7845            1006